{% extends "layout.html" %}
{% block content %}

<body>
    <div class="grid-container">
        <div class="grid-20">
            <div class = "sub">
        		<strong><nav>
    				<li><a href="{{ url_for('soundcloud') }}">Get Token</a></li>
    				<li><a href="{{ url_for('update') }}">Update</a></li>
        		</nav></strong>
            </div>
            <div class="grid-20">
               
            </div>
        </div> 

        <div class="grid-80">   
            <div class = "content">
                <input type="text" id="search" placeholder="Type to search through your tracks"></input>
                <br></br>
                <table id="table">
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Title</th>
                        <th>Alive</th>
                    </tr>
                        {%for num, (artist, title, alive, url) in data %}
                            {% if alive %}
                            <tr>
                                <th>{{num + 1}}</th>
                                <th>{{artist}}</th>
                                <th><a href="{{url}}">{{title}}</a></th>
                                <th>&#x2713</th>
                            </tr>
                            {% else %}
                            <tr class="dead">
                                <th>{{num + 1}}</th>
                                <th>{{artist}}</th>
                                <th><a href="{{url}}">{{title}}</a></th>
                                <th>Dead</th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <a href="#" class="go-top" style="display: inline;">Go Top</a>
</body>

<!-- JavaScript -->
<script src="{{ url_for('static', filename='profile.js') }}"></script>

{% endblock %}


