{% extends "layout.html" %}
{% block content %}
<div class = "sub">
	<div class = "submenu">
		<strong><nav>
			<ul class="features">
				<li><a href="{{ url_for('home') }}"> / Home</a></li>
				<li><a href="{{ url_for('about') }}"> / About</a></li>
			</ul>
		</nav></strong>

		
	</div>
</div>
<div class = "content">
	<form action="{{ url_for('soundcloud') }}">
	    <input type="submit" value="go to soundcloud">
	</form>

<!-- 	<table>
        <tr>
            <th>User</th>
            <th>Title</th>
        </tr>
            {%for item in data %}
                <tr>
                    <th>{{item}}</th>
                    <th>{{data[item]}}</th>
                </tr>
            {% endfor %}
    </table> -->
</div>

{% endblock %}

