{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/unsemantic-grid-responsive-no-ie7.css') }}">

<body>
    <div class="grid-container">
        <div class="grid-20">
            <div class = "sub">
        		<strong><nav>
    				<li><a href="{{ url_for('soundcloud') }}">Get Token</a></li>
    				<li><a href="{{ url_for('update') }}">Update</a></li>
        		</nav></strong>
            </div>
        </div> 

        <div class="grid-80">   
            <div class = "content">

            	<table>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Title</th>
                        <th>Alive</th>
                    </tr>
                        {%for num, (artist, title, alive, url) in data %}
                            {% if alive %}
                            <tr>
                                <th>{{num + 1}}</th>
                                <th>{{artist}}</th>
                                <th><a href="{{url}}">{{title}}</a></th>
                                <th>&#x2713</th>
                            <tr>
                            {% else %}
                            <tr class="dead">
                                <th>{{num + 1}}</th>
                                <th>{{artist}}</th>
                                <th><a href="{{url}}">{{title}}</a></th>
                                <th>Dead</th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <a href="#" class="go-top" style="display: inline;">Go Top</a>
</body>

<!-- JavaScript -->
<script>
    $(document).ready(function() {
        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('.go-top').fadeIn(200);
            } else {
                $('.go-top').fadeOut(200);
            }
        });
        // Animate the scroll to top
        $('.go-top').click(function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 300);
        })
    });
</script>

{% endblock %}


