{% extends "layout.html" %}
 
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

  <body>
    <div class = "content">
      <form action="{{ url_for('signup') }}" method=post>
        {{ form.hidden_tag() }}
         
        {{ form.firstname.label }}
        {{ form.firstname }}

        {% for message in form.firstname.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}

        {{ form.lastname.label }}
        {{ form.lastname }}

        {% for message in form.lastname.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}

        {{ form.email.label }}
        {{ form.email }}

        {% for message in form.email.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}

        {{ form.password.label }}
        {{ form.password }}

        {% for message in form.password.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}

        {{ form.confirm.label }}
        {{ form.confirm }}

        {% for message in form.confirm.errors %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
         
        {{ form.submit }}
      </form>  
    </div>
  </body>

  <script src="{{ url_for('static', filename='signup.js') }}"></script>
{% endblock %}